.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #181717;
  outline: 3px #181717 solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
  opacity: 0;
  transform: translateY(10px);
  visibility: hidden;
  transition: all 0.4s ease;
}

.container-product:hover .button {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.button .text {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.button svg path {
  transition: 400ms;
}

.button:hover {
  background-color: transparent;
}

.button:hover .text {
  color: #181717;
}

.button:hover svg path {
  fill: #181717;
}

.editar-btn, .eliminar-btn {
  cursor: pointer;
  transition: 400ms;
}

.editar-btn:hover {
  background-color: chocolate;
  transform: scale(1.09);
}
.eliminar-btn:hover {
  background-color: rgb(210, 39, 30);
  transform: scale(1.09);
}